/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */
 @import "bootstrap";

.bg-color{
  height: 100%;
  background-color: #cbefe3;
  color:#333;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
}

.bg-color-form{
  background-color: #FFF;
  border-radius: 20px;
  margin: 80px auto;
  padding: 30px;
}

.error_count{
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width:350px;
    background-color: #F69896;
}

.flash{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width:280px;
    background-color: #F69896;
}


/*Header*/

.brand-logo{
  height: 100px;
  width: 170px;
  margin-right: auto;
}

ul {
  list-style: none;
}

.header-menu-li {
    padding: 20px 0px 0px 40px;
}

.header-menu-li-name {
    padding:33px 120px;
    color: #F69896;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}

.menu-img {
    font-size: 1.15em;
    text-align: center;
    height: 20px;
    font-weight: 100;
    color: #F69896;
}

.menu-name {
    font-size: 0.75em;
    margin-top: 7px;
    text-align: center;
    color: #F69896;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}

/*Footer*/

.bg-color-footer {
    color: #F69896;
    background-color: #FFF;
    text-align: center;
    font-weight: 200;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Brush Script MT',sans-serif;
}

/*sign-up*/

.signup-caption{
  font-size: 20px;
  padding: 0.4em 0.5em;
  border-left: solid 5px #F69896;
  border-bottom: solid 3px #d7d7d7;
  background: #FFF;
  color: #F69896;
  text-align: center;
  width: 31%;
}

.signup-text{
  font-size: 14px;
  margin: 5px auto;
  text-align: center;
  padding:30px;
}

.signup-form{
    width:50%;
    margin: 20px auto;
    background-color: #FFF;
    padding:50px;
    border-radius: 10px;
}

.signup-content{
    margin-bottom: 15px;
}

.signup-create-account {
    margin-top: 10px;
    float: right;
}

/*sign-in*/

.signin-caption{
  font-size: 20px;
  padding: 0.4em 0.5em;
  border-left: solid 5px #F69896;
  border-bottom: solid 3px #d7d7d7;
  background: #FFF;
  color: #F69896;
  text-align: center;
  width: 50%;
}

.signin-text{
  font-size: 14px;
  margin: 5px auto;
  text-align: center;
  padding:30px;
}

.signin-form{
    width: 40%;
    margin: 0 auto;
    background-color: #FFF;
    padding:70px;
    border-radius: 10px;
}

.signin-create-account{
    float:right;
    padding-top: 15px;
}