// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*New*/

.post-new-caption{
	font-size: 25px;
}

.post-new-subcaption{
	margin-bottom: 40px;
}

.post-new-content{
	font-size: 20px;
	margin-bottom: 10px;
}

.post-new-create{
	margin-top: 30px;
	margin-left: 120px;
}

/*Index*/

.picture{
	height: 500px !important;
	width: 100%;
	background-image: image-url("image7.jpg");
	background-position: center 75% !important;
}

.post-index-caption{
  font-size: 30px;
  padding: 0.4em 0.5em;
  margin-bottom: 50px;
  border-left: solid 5px #F69896;
  border-bottom: solid 3px #d7d7d7;
  background: #FFF;
  color: #F69896;
  text-align: center;
  width: 31%;
}

.post-index-nickname{
	font-size: 14px;
}

.post-index-title{
	font-size: 16px;
}

.post-index-date{
	font-size: 12px;
	float: left;
}

.post-index-content{
	font-size: 12px;
	float:right;
}

/*Show*/

.post-show-group{
	margin-left: 20%;
	padding: 10px;
	width:100%;
	background-color: #F69896;
	font-weight: bold;
	color:#FFF;
	border-radius: 10px;
}

.post-show-title{
	font-size: 28px;
	margin-left: 20px;
}

.post-show-box{
	width:60%;
	margin: 40px auto;
}

.post-show-nickname{
	font-size: 20px;
}

.post-show-content{
	margin-left:57%;
	padding-right: 5px;
	font-size: 15px;
}

.comment-count{
	padding-right: 10px;
　　list-style: none;
   float: right;
}

.post-show-body{
	font-size: 15px;
	padding:20px 35px;
	line-height: 35px;
}

.comment-date{
	font-size: 12px;
	margin-left: 10px;
}

.comment-body{
	font-size: 15px;
	padding:15px 25px;
	line-height: 25px;
}

.comment-caption{
	font-size: 22px;
	text-align: center;
	width:50%;
    margin: 0 auto;
	border-bottom: dotted 1px #333;
}

.comment-bg-color{
	height: 100%;
	width: 50%;
	margin: 20px auto;
	background-color: #FFF;
	border-radius: 10px;
}

.comment-create{
	margin-top: 20px;
	margin-left: 85%;
	padding-bottom: 25px;
}

.comment-login{
	margin-top: 20px;
	margin-left: 22%;
	padding-bottom: 25px;
}